{
    "target_rules": [],
    "conn_uri": "mysql://gnc:karamba@localhost/gnc_rok",
    "password": "karBel3K1",
    "user_id": "roko111512",
    "accounts": [
        {
            "code" : "BNI387014784",
            "cash_target_account": "Assets:Cash:MyCash",
            "account_no": "387014784",
            "last_import": {
                "count": 8, 
                "end_date": "31-08-2015", 
                "imported_at": "2016-04-05T00:52:28.452607", 
                "post_date": "31-03-2016", 
                "last_tnum": 215, 
                "balance": 880857.0, 
                "start_date": "01-01-2015"
            }
        },{
            "code" : "BNI289979573",
            "cash_target_account": "Assets:Cash:MyCash",
            "account_no": "289979573",
            "last_import": {
                "count": 6, 
                "end_date": "01-01-2015", 
                "imported_at": "2016-04-05T00:45:05.585204", 
                "post_date": "04-04-2016", 
                "last_tnum": 537, 
                "balance": 5484092.0, 
                "start_date": "01-01-2015"
            }
        },{
            "code" : "BNI373352345",
            "cash_target_account": "Assets:Cash:MyCash",
            "account_no": "373352345",
            "last_import": {
                "count": 1, 
                "end_date": "01-05-2015", 
                "imported_at": "2016-04-11T11:56:45.449867", 
                "post_date": "11-04-2016", 
                "last_tnum": 535, 
                "balance": 4402915.0, 
                "start_date": "01-07-2015"
            }
        }
    ]
}