{
    "dbi": {
        "conn_uri": "sqlite:////home/rok/code/PycharmProjects/ibank/gnucash-book.sqlite.gnucash", 
        "dbfile": "/home/rok/Gnucash/working/dbi.sqlite.gnucash", 
        "BNI308994356": {
            "cash_target_account": "Assets:Cash:Raul", 
            "password": "modellismo15", 
            "user_id": "dreamboat15", 
            "account_no": "308994356", 
            "last_import": {
                "count": 1, 
                "end_date": "28-03-2015", 
                "imported_at": "2015-06-04T03:50:08.853964", 
                "post_date": "03-06-2015", 
                "last_tnum": 279, 
                "balance": 109186785.0, 
                "start_date": "28-03-2015"
            }
        }, 
        "BNI373352345": {
            "cash_target_account": "Assets:Cash:Rok", 
            "password": "GritByac735", 
            "user_id": "roko111512", 
            "last_import": {
                "count": 15, 
                "end_date": "01-01-2015", 
                "imported_at": "2016-02-16T21:31:27.757293", 
                "post_date": "31-12-2015", 
                "last_tnum": 437, 
                "balance": 16057029.0, 
                "start_date": "01-01-2015"
            }, 
            "account_no": "373352345"
        }, 
        "BNI373352334": {
            "password": "suryani12", 
            "user_id": "dreamboat15", 
            "last_import": {
                "count": 3, 
                "end_date": "01-01-2015", 
                "imported_at": "2015-06-03T17:45:40.979983", 
                "post_date": "31-05-2015", 
                "last_tnum": 23, 
                "balance": 760281868.0, 
                "start_date": "01-01-2015"
            }, 
            "account_no": "373352334"
        }
    }, 
    "raul": {
        "dbfile": "/home/rok/Gnucash/working/raul-private.sqlite.gnucash", 
        "BNI133715134": {
            "cash_target_account": "Assets:Cash:MyCash", 
            "password": "modellismo15", 
            "user_id": "dreamboat15", 
            "last_import": {
                "count": 0, 
                "end_date": "28-02-2015", 
                "imported_at": "2014-04-04T23:36:27.539113", 
                "post_date": "28-02-2015", 
                "last_tnum": 0, 
                "balance": 90767612.0, 
                "start_date": "01-01-2015"
            }, 
            "account_no": "133715134"
        }
    }, 
    "target_rules": [], 
    "rok": {
        "conn_uri": "mysql://gnc:karamba@localhost/gnc_rok", 
        "dbfile": "/home/rok/Documents/accounts/rok/rok-test.sqlite.gnucash", 
        "conn_uri_disabled": "sqlite:////home/rok/Documents/accounts/rok/rok-test.sqlite.gnucash", 
        "BNI387014784": {
            "cash_target_account": "Assets:Cash:MyCash", 
            "password": "GritByac735", 
            "user_id": "roko111512", 
            "last_import": {
                "count": 1, 
                "end_date": "31-08-2015", 
                "imported_at": "2016-02-26T11:24:49.357203", 
                "post_date": "20-02-2016", 
                "last_tnum": 214, 
                "balance": 88624808.0, 
                "start_date": "01-01-2015"
            }, 
            "account_no": "387014784"
        }, 
        "BNI289979573": {
            "cash_target_account": "Assets:Cash:MyCash", 
            "password": "GritByac735", 
            "user_id": "roko111512", 
            "last_import": {
                "count": 14, 
                "end_date": "01-01-2015", 
                "imported_at": "2016-02-16T22:14:39.385620", 
                "post_date": "14-02-2016", 
                "last_tnum": 479, 
                "balance": 916793.0, 
                "start_date": "01-01-2015"
            }, 
            "account_no": "289979573"
        }, 
        "BNI373352345": {
            "cash_target_account": "Assets:Cash:MyCash", 
            "password": "GritByac735", 
            "user_id": "roko111512", 
            "last_import": {
                "count": 7, 
                "end_date": "01-05-2015", 
                "imported_at": "2016-02-25T19:52:29.253342", 
                "post_date": "24-02-2016", 
                "last_tnum": 452, 
                "balance": 4192872.0, 
                "start_date": "01-07-2015"
            }, 
            "account_no": "373352345"
        }
    }
}